<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Filtered ng-repeat</title>
</head>
<body>
    <h1>Filtered ng-repeat</h1>
    <div ng-controller="ShoppingListController">
        <h3>Shopping List:</h3>
        <input type="text" ng-model="search">
        <!-- Searchable shopping List: -->
        <ul>
            <li ng-repeat="item in shoppingList | filter : search">{{item}}</li>
        </ul>
    </div>
</body>
</html>